@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-sans: var(--font-geist-sans);
}

body {
  background: white;
  color: #111827;
  font-family: var(--font-sans);
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
